@model W20240408.EntidadesDeNegocio.PersonaW

@{
    ViewData["Title"] = "Delete";
}

<h1>eliminar</h1>

<h3>Estas Seguro de eliminar</h3>
<div>
    <h4>PersonaW</h4>
    <hr />
    <dl class="row">
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreW)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreW)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoW)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoW)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimientoW)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimientoW)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoW)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SueldoW)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstatusW)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstatusW)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentarioW)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioW)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">volver</a>
    </form>
</div>
