@model IEnumerable<W20240408.EntidadesDeNegocio.PersonaW>

@{
    ViewData["Title"] = "Index";
}

<h1>Persona</h1>

<p>
    <a asp-action="Create">Nueva persona</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.NombreW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimientoW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SueldoW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstatusW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComentarioW)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimientoW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SueldoW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstatusW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComentarioW)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Detalle", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
